@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row"> @*class="row" garante que o div vai ocupar a largura da tela inteira*@
    <div class="col-md-4"> @*Bootstrap divide a tela em 12 partes, col-md-4 usa entao 1/3 da tela e col-md-6 usa metade da tela*@
        <form asp-action="Create">
            @*asp-action="Create" define que quando enviar o formulario chama-se a ação create(método post do controlador)*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> @*tag helper asp-for="Name" label que vai aparecer na caixa para digitar*@
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label> @*tag helper asp-for="Name" label que vai aparecer na caixa para digitar*@
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label> @*tag helper asp-for="Name" label que vai aparecer na caixa para digitar*@
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label> @*tag helper asp-for="Name" label que vai aparecer na caixa para digitar*@
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

